vscode/
*.swp
__pycache__/
build/
*.egg-info
.egg
lib/
.ipynb_checkpoints
.pyc
.pytest_cache
.coverage
.pdf
.so
.exe
.installed.cfg
ipython_config.py
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/



# add tutorial python notebook files
#  to avoid merge issues 
exfor_parserpy_tutorial.ipynb
get_exfor_library.ipynb
